<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인</title>
    <link rel="stylesheet" href="side.css">
    <script src="https://kit.fontawesome.com/c2a1b202c0.js" crossorigin="anonymous"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>

    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
</head>

    <div class="frame">
        <div class="left-container">
            <div class="search-box">
                <input type="text" placeholder="  Search"/>
                <button class="btn-search"><i class="fas fa-search"></i></button>
            </div>
            <ul class="nav-list">
                <li class="nav-item"><a href="/main/side-left.html" class="nav-link"><span>메인페이지</span></a></li>
                <li class="nav-item"><a href="/main/side-left-board.html" class="nav-link"><span>전시</span></a></li>
                <li class="nav-item"><a href="#" class="nav-link"><span>행사 / 축제</span></a></li>
                <li class="nav-item"><a href="#" class="nav-link"><span>티켓오픈공지</span></a></li>
                <li><span class="nav-text">예매 정보</span></li>
                    <ul>
                        <li class="nav-item2"><a href="#" class="nav-link">날짜별 예매</a></li>
                        <li class="nav-item2"><a href="#" class="nav-link">지역별 예매</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a href="#" class="nav-link"></i><span>고객센터</span></a>
            </ul>
          </div>
          <!-- //left-container -->
        <div class="right-container">
          <div class="content">
            <!-- login-box -->
            <div class="codrops-container">
              <nav class="loging-box">
                <ul>
                  <li>로그인</li>
                  <li>회원가입</li>
                  <li>로그아웃</li>
                  <li>관리자페이지</li>
                  <li>회원정보</li>
                  <li>예매확인/취소</li>
                </ul>
              </nav>
            </div>
            <!-- main-content -->
            <div class="main-content">
            <!-- Swiper -->
              <div class="swiper-box">
                  <div class="swiper-container">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide"></div>
                      <div class="swiper-slide"></div>
                      <div class="swiper-slide"></div>
                      <div class="swiper-slide"></div>
                  
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>
                    <!-- Add Arrows -->
                    <!-- <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div> -->
                  </div>
                </div>
            </div>
                  <!-- Swiper JS -->
                  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
                  <!-- Initialize Swiper -->
                  <script>
                    var swiper = new Swiper('.swiper-container', {
                      spaceBetween: 30,
                      centeredSlides: true,
                      autoplay: {
                        delay: 4000,
                        disableOnInteraction: false,
                      },
                      pagination: {
                        el: '.swiper-pagination',
                        clickable: true,
                      },
                      navigation: {
                        nextEl: '.swiper-button-next',
                        prevEl: '.swiper-button-prev',
                      },
                    });
                  </script>
          </div>
        </div>
        <!-- //right-container -->

      </div>
      <!-- //frame -->

<body>
    
</body>
</html>