<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판</title>
    <link rel="stylesheet" href="side.css">
    <script src="https://kit.fontawesome.com/c2a1b202c0.js" crossorigin="anonymous"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>

</head>

    <div class="frame">
        <div class="left-container">
            <div class="search-box">
                <input type="text" placeholder="  Search"/>
                <button class="btn-search"><i class="fas fa-search"></i></button>
            </div>
            <ul class="nav-list">
                <li class="nav-item"><a href="/main/side-left.html" class="nav-link"><span>메인페이지</span></a></li>
                <li class="nav-item"><a href="/main/side-left-board.html" class="nav-link"><span>전시</span></a></li>
                <li class="nav-item"><a href="#" class="nav-link"><span>행사 / 축제</span></a></li>
                <li class="nav-item"><a href="#" class="nav-link"><span>티켓오픈공지</span></a></li>
                <li><span class="nav-text">예매 정보</span></li>
                    <ul>
                        <li class="nav-item2"><a href="#" class="nav-link">날짜별 예매</a></li>
                        <li class="nav-item2"><a href="#" class="nav-link">지역별 예매</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a href="#" class="nav-link"></i><span>고객센터</span></a>
            </ul>
          </div>
          <!-- //left-container -->
        <div class="right-container">
          <div class="content">
            <!-- login-box -->
            <div class="codrops-container">
              <nav class="loging-box">
                <ul>
                  <li>로그인</li>
                  <li>회원가입</li>
                  <li>로그아웃</li>
                  <li>관리자페이지</li>
                  <li>회원정보</li>
                  <li>예매확인/취소</li>
                </ul>
              </nav>
            </div>
            <!-- main-content -->
            <div class="main-content">
                <div class="category-box">
                    <ul>
                        <li class="current">금일랭킹순</li>
                        <li>주간랭킹순</li>
                        <li>월간랭킹순</li>
                        <li>공연종료임박순</li>
                    </ul>
                </div>
                <div class="board-box">
                    <ul class="board-list">
                        <li class="board-item">
                            <a href="side-left-product.html">
                                <div class="itemWrap">
                                    <div class="itemImage">
                                        <div class="imageWrap">
                                            <div class="coverWrap">
                                                <img src="http://ticketimage.interpark.com/Play/image/large/20/20003553_p.gif" alt="어나더 컨트리">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="itemMeta">
                                        <div class="itemTags">
                                            <span class="tag"><span class="tagText">연극</span></span>
                                        </div>
                                        <div class="titleWrap">
                                            <div class="itemName">
                                                <span>어나더 컨트리</span>
                                            </div>
                                            <div class="features">
                                                <ul>
                                                    <li>2012-06-29 ~ 2020-09-30</li>
                                                    <li>서경대학교 공연예술센터 스콘1관</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="priceWrap">
                                            <div class="originPriceWrap">
                                                <span class="grade">입장권</span>
                                            </div>
                                            <div class="salePriceWrap">
                                                <em>66,000</em><span class="currency">원</span>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="board-item">
                            <a href="http://ticket.interpark.com/Ticket/Goods/GoodsInfo.asp?GoodsCode=19011560">
                                <div class="itemWrap">
                                    <div class="itemImage">
                                        <div class="imageWrap">
                                            <div class="coverWrap">
                                                <img src="http://ticketimage.interpark.com/Play/image/large/20/20003553_p.gif" alt="어나더 컨트리">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="itemMeta">
                                        <div class="itemTags">
                                            <span class="tag"><span class="tagText">연극</span></span>
                                        </div>
                                        <div class="titleWrap">
                                            <div class="itemName">
                                                <span>어나더 컨트리</span>
                                            </div>
                                            <div class="features">
                                                <ul>
                                                    <li>2012-06-29 ~ 2020-09-30</li>
                                                    <li>서경대학교 공연예술센터 스콘1관</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="priceWrap">
                                            <div class="originPriceWrap">
                                                <span class="grade">입장권</span>
                                            </div>
                                            <div class="salePriceWrap">
                                                <em>66,000</em><span class="currency">원</span>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="board-item">
                            <a href="http://ticket.interpark.com/Ticket/Goods/GoodsInfo.asp?GoodsCode=19011560">
                                <div class="itemWrap">
                                    <div class="itemImage">
                                        <div class="imageWrap">
                                            <div class="coverWrap">
                                                <img src="http://ticketimage.interpark.com/Play/image/large/20/20003553_p.gif" alt="어나더 컨트리">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="itemMeta">
                                        <div class="itemTags">
                                            <span class="tag"><span class="tagText">연극</span></span>
                                        </div>
                                        <div class="titleWrap">
                                            <div class="itemName">
                                                <span>어나더 컨트리</span>
                                            </div>
                                            <div class="features">
                                                <ul>
                                                    <li>2012-06-29 ~ 2020-09-30</li>
                                                    <li>서경대학교 공연예술센터 스콘1관</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="priceWrap">
                                            <div class="originPriceWrap">
                                                <span class="grade">입장권</span>
                                            </div>
                                            <div class="salePriceWrap">
                                                <em>66,000</em><span class="currency">원</span>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="board-item">
                            <a href="http://ticket.interpark.com/Ticket/Goods/GoodsInfo.asp?GoodsCode=19011560">
                                <div class="itemWrap">
                                    <div class="itemImage">
                                        <div class="imageWrap">
                                            <div class="coverWrap">
                                                <img src="http://ticketimage.interpark.com/Play/image/large/20/20003553_p.gif" alt="어나더 컨트리">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="itemMeta">
                                        <div class="itemTags">
                                            <span class="tag"><span class="tagText">연극</span></span>
                                        </div>
                                        <div class="titleWrap">
                                            <div class="itemName">
                                                <span>어나더 컨트리</span>
                                            </div>
                                            <div class="features">
                                                <ul>
                                                    <li>2012-06-29 ~ 2020-09-30</li>
                                                    <li>서경대학교 공연예술센터 스콘1관</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="priceWrap">
                                            <div class="originPriceWrap">
                                                <span class="grade">입장권</span>
                                            </div>
                                            <div class="salePriceWrap">
                                                <em>66,000</em><span class="currency">원</span>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="board-item">
                            <a href="http://ticket.interpark.com/Ticket/Goods/GoodsInfo.asp?GoodsCode=19011560">
                                <div class="itemWrap">
                                    <div class="itemImage">
                                        <div class="imageWrap">
                                            <div class="coverWrap">
                                                <img src="http://ticketimage.interpark.com/Play/image/large/20/20003553_p.gif" alt="어나더 컨트리">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="itemMeta">
                                        <div class="itemTags">
                                            <span class="tag"><span class="tagText">연극</span></span>
                                        </div>
                                        <div class="titleWrap">
                                            <div class="itemName">
                                                <span>어나더 컨트리</span>
                                            </div>
                                            <div class="features">
                                                <ul>
                                                    <li>2012-06-29 ~ 2020-09-30</li>
                                                    <li>서경대학교 공연예술센터 스콘1관</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="priceWrap">
                                            <div class="originPriceWrap">
                                                <span class="grade">입장권</span>
                                            </div>
                                            <div class="salePriceWrap">
                                                <em>66,000</em><span class="currency">원</span>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>                    
                    </ul>
                </div>
            </div>
            <!-- //main-content -->
        </div>
        <!-- //right-container -->
      </div>
      <!-- //frame -->

<body>
    
</body>
</html>