@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font:14px/1.8 'Gothic A1', Helvetica, sans-serif;
    height: 100vh;
    position: relative;
    font-family: 'Gothic A1', sans-serif;
    color: #333;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #333;

}
ol,ul {
    text-decoration: none;
    list-style: none;
}

/* 오른쪽 메인 */
.right-container {
    float: right;
    width: calc(100vw - 270px);
    border: 1px solid violet;
    /* height: 100vh;     */
}

.content{
    border: 1px solid red;
    width: 95%;
    margin: 0 auto;
    /* height: 1350px; */
}

/* 로그인 박스 */

.codrops-container {
	text-align: center;
}

.loging-box{
	/* border: 1px solid black; */
	height: 40px;
    width: 100%;
    font: normal 11px;
}

.loging-box ul {
	float: right;
}

.loging-box li {
    float: left;
    color: #585858;
	font-size: 12px;
	box-sizing: border-box;
	text-align: center;
	line-height: 38px;
	padding-left: 3px;
	padding-right: 3px;
}

/* 카테고리 박스 */

.category-box{
    /* border: 1px solid black; */
    height: 41px;
    width: 100%;
    padding-top: 25px;
}
.category-box ul {
    /* display: table;
    margin-left: auto;
    margin-right: auto; */
    margin-left: 21px;
}
.category-box li{
    float: left;
    font-size: 15px;
    font-weight: 300;
    padding: 5px 15px;
    border: 1px solid #e4e4e4;
    background-color: #f7f7f7;
    border-right: none;
    color: #333;
    text-align: center;
}

.category-box li:nth-of-type(4){
    border-right: 1px solid #e4e4e4;;
}
.category-box li.current{
    background-color: #333;
    color: white;
}
/* 게시판 */

/* .board-box{
    border: 1px solid black;
} */
.board-list{
    width: 100%;
    margin-left: -10px;
    padding-left: 0;
    padding-right: 0;
    /* border: 1px solid red; */
    margin: 0 auto;
    padding-bottom: 30px;

}

.board-item {
    position: relative;
    width: 230px;
    margin: 35px 21px 26px 22px;
    display: inline-block;
    vertical-align: top;
    /* border: 1px solid black; */
}

.itemImage {
    width: 230px;
    height: 230px;
    overflow: hidden;
}

.board-item a:hover .itemMeta .itemName span {
    text-decoration: underline;
}

.itemImage .imageWrap {
    overflow: hidden;
}

.imageWrap img {
    display: block;
    width: auto;
    height: 230px;
}

.itemMeta {
    position: relative;
    margin-top: 15px;
    padding-top: 31px;
}

.itemMeta .itemTags {
    position: absolute;
    top: -6px;
    left: 0;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.itemTags .tag {
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 1px;
    padding: 1px 10px 3px;
    font-size: 12px;
    line-height: 18px;
    color: #666;
}

.itemMeta .titleWrap {
    height: 95px;
    overflow: hidden;
}

.titleWrap .itemName {
    display: -webkit-box;
    overflow: hidden;
    word-break: break-all;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: auto;
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
    color: #333;
}

.titleWrap .features {
    margin-top: 9px;
    height: 40px;
    overflow: hidden;
}

.titleWrap .features ul li {
    position: relative;
    padding-left: 10px;
    font-size: 15px;
    line-height: 20px;
    color: #999;
}

.features ul li:before {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    width: 4px;
    height: 4px;
    background: #999;
}

.itemMeta .priceWrap {
    position: relative;
    padding-top: 22px;
    margin-top: 13px;
}

.priceWrap .originPriceWrap {
    position: absolute;
    top: 0;
    left: 0;
}

.originPriceWrap .grade {
    margin-right: 3px;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}

.salePriceWrap em {
    font-size: 26px;
    line-height: 28px;
    color: #000;
}

.salePriceWrap .currency {
    margin-right: 10px;
    font-size : 18px;
    line-height: 28px;
    color: #000;
}


/* 상품 상세보기 */

.main-content{
    border: 1px solid green;
}

.renew-wrap {
    width: 100%;
    margin: 0 auto;
    padding-top: 55px;
    position: relative;
}

.renew-content {
    width: 95%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.rn-location {
    margin-top: 3px;
    padding-right: 5px;
}


.rn-01 .rn-location a {
    display: inline-block;
    font-size: 14px;
    color: #333;
    padding-right: 9px;
    margin-right: 4px;
}

.rn-02 {
    margin-top: 10px;
    position: relative;
    border-bottom: 2px solid #333;
}

.rn-02 .rn-big-title {
    word-break: break-all;
    font-size: 35px;
    color: #333;
    line-height: 40px;
    font-weight: bold;
    letter-spacing: -0.003em;
}

.rn-02 .rn-product-short-data {
    margin: 4px 0 4px 0;
}

.rn-02 .rn-product-short-data .ps-date {
    padding: 0 15px 0 0px;
    position: relative;
}
.rn-02 .rn-product-short-data span {
    font-size: 15px;
    color: #666;
}

.rn-02 .rn-product-short-data .ps-date:after {
    content: "";
    display: block;
    width: 1px;
    height: 14px;
    background: #d6d6d6;
    position: absolute;
    top: 0;
    right: 0;
}

.rn-02 .rn-product-short-data .ps-location {
    padding: 0 22px 0 13px;
    background: url(image/rn-ico-location.png)no-repeat right top;
}


.rn-03 {
    overflow: hidden;
    padding-bottom: 50px;
    position: relative;
    border: 1px solid black;
}

.rn-03-left .rn-product-imgbox {
    width: 430px;
    height: 600px;
    position: relative;
}


.rn-03-left {
    float: left;
    width: 430px;
}

.rn-03-right {
    float: right;
    width: 540px;
    border: 1px solid hotpink;
}

.rn-03-right .rn-product-area1 {
    border-bottom: 1px solid #000;
    position: relative;
}

.rn-03-right dt {
    font-size: 15px;
    color: #333;
    font-weight: bold;
    float: left;
    line-height: 35px;
}


.rn-03-right .rn-product-area1 .rn-product-dc{
    margin: 0 0 18px 86px;
    line-height: 35px;
}

.rn-03-right dd {
    font-size: 15px;
    color: #333;
    clear: right;
    margin: 0 0 3px 86px;
    line-height: 35px;
    position: relative;
}


.rn-product-area1 .rn-product-price {
    padding-bottom: 11px;
}

.rn-product-area1 dd .rn-product-price1 {
    padding: 10px 0 10px 20px;
    margin: 11px 0 0 -5px;
    background: #f6f6f6;
    max-height: 330px;
    overflow: hidden;
    line-height: 30px;
}

.rn-red {
    color: #ed4037 !important;
}

.rn-product-dc p a.ico-pop {
    display: inline-block;
    position: relative;
    font-size: 15px;
    padding-right: 23px;
    margin-right: 24px;
    background: url(image/rn-ico-btn-pop.png)no-repeat right 8px;
}

.rn-03-right .rn-product-area3 {
    min-height: 174px;
    border-bottom: 1px solid #000;
}

.rn-03-right .rn-product-area3 dl {
    padding: 14px 0;
    overflow: hidden;
}

.rn-03-right .rn-product-area3 dt {
    width: 100%;
    float: none;
    margin: 6px 0 -3px 0;
}

.rn-03-right .rn-product-area3 dd {
    margin-left: 2px;
    color: #666;
    line-height: 23px;
    font-size: 14px;
}

.rn-04 {
    overflow: hidden;
    margin-bottom: 50px;
}

.rn-04 .rn-04-left {
    float: left;
    width: 600px;
    position: relative;
}
.rn-04 > div {
    box-sizing: border-box;
    border: 1px solid #ddd;
    height: 100%;
}

.rn-04-left-tit {
    border-bottom: 2px solid #000;
    position: relative;
    padding: 40px 0 10px 0;
    letter-spacing: -0.07em;
}

.rn-04 .rn-04-left .rn-04-left-wrap {
    width: 500px;
    margin: 26px auto 27px auto;
    overflow: hidden;
}

.rn-04 .rn-04-left .rn-04-left-wrap > div {
    float: left;
    position: relative;
}

.rn-04 .rn-04-left > div {
    width: 501px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

p.rn-04-xtit {
    font-size: 18px;
    color: #333;
    font-weight: bold;
}

.rn-04-left-cal {
    width: 275px;
    border-right: 1px solid #ddd;
    overflow: hidden;
}

.rn-04-left-wrap .rn-04-left-calist {
    width: 221px;
    text-align: center;
    overflow: hidden;
    overflow-y: auto;
}

.rn-04 .rn-04-left .rn-04-left-wrap > div:last-child:before {
    content: "";
    display: block;
    width: 1px;
    height: 212px;
    background: #ddd;
    position: absolute;
    top: 0;
    left: -1px;
}

.rn-04-left-calist a {
    display: inline-block;
    width: 158px;
    height: 32px;
    line-height: 35px;
    border: 1px solid #ddd;
    font-size: 15px;
    color: #333;
    text-align: center;
    margin: 0 0 8px 7px;
}

.rn-04-left-calist a:focus{
    background-color: #596065;
    color: white;
}


.rn-04 .rn-04-right {
    float: right;
    height: 425px;
    width: 453px;
    position: relative;
    left: -1px;
    border-left: none;
}


.rn-04-right .rn-04-right-tit {
    border-bottom: 2px solid #000;
    letter-spacing: -0.07em;
    width: 350px;
    margin: 0 auto;
    padding: 39px 0 10px 0;
    font-size: 18px;
    color: #333;
    font-weight: bold;
}

.rn-04-right .rn-04-right-list {
    width: 350px;
    margin: 0 auto;
    border: 1px solid #ddd;
    margin-top: 25px;
    padding: 33px 0;
}


.rn-04 .rn-04-right .rn-04-right-list dl {
    padding: 0 33px;
    font-size: 15px;
    color: #333;
    line-height: 30px;
}

.rn-04-right-list span:focus{
    font-weight: bold;
    color: #596065;
}

.rn-05 {
    margin: 50px 0;
    text-align: center;
    font-size: 0;
}


.rn-05 a {
    display: inline-block;
    width: 236px;
    height: 46px;
    line-height: 46px;
    margin: 0 5px;
    vertical-align: top;
}


.rn-05 a.rn-bb03 {
    font-size: 20px;
    color: #fff;
    background: #f43142;
    border: 2px solid #f43142;
}

.rn-07 {
    border-bottom: 2px solid #333;
    font-size: 0;
}

.rn-07 a {
    display: inline-block;
    height: 55px;
    line-height: 55px;
    width: 180px;
    border-top: 3px solid #fff;
    text-align: center;
}

.rn-07 a.on{
    border-top: 3px solid #ed4037;

}
.rn-07 a > span {
    font-size: 18px;
    color: #333;
    letter-spacing: -0.09em;
    font-weight: 600;
}


/* 탭박스 */

.rn-tab-boxes {
    position: relative;
}

.rn-tab-area {
    position: relative;
}

.rn-08 {
    text-align: center;
}

.rn-08 > div {
    padding-bottom: 70px;
}


.rn-08 > div:first-child {
    padding-top: 70px;
}

.rn-0801 .rn08-tit {
    padding-top: 0;
}
.rn-08 div .rn08-tit {
    font-size: 30px;
    color: #333;
    padding-bottom: 51px;
    font-weight: bold;
    letter-spacing: -0.07em;
}

.rn-08 div .rn08-txt > p {
    font-size: 13px;
    line-height: 28px;
    color: #555;
}

.rn-red {
    color: #ed4037 !important;
}

.rn-08 div .rn-0803-tbl {
    margin-top: 90px;
}
.rn08-tbl table {
    border-collapse: collapse;
    width: 100%;
}

.rn08-tbl table tr th.rn08-tbl-tit:first-child {
    border-left: 0 none;
}

.rn-08 div .rn08-tbl table th {
    font-size: 15px;
    color: #333;
    text-align: center;
    height: 50px;
    font-weight: bold;
    vertical-align: middle;
    border: 1px solid #ddd;
}

.rn-08 div .rn08-tbl table th.rn08-tbl-tit {
    font-size: 18px;
    color: #333;
    background: #f6f6f6;
}

.rn-08 div .rn-0803-tbl table th {
    height: 100px;
}

.rn-0804 .rn-0803-tbl table td {
    text-align: left;
    padding: 10px 0 10px 30px;
    font-size: 14px;
    color: #333;
    line-height: 25px;
}

.rn08-tbl table td {
    font-size: 15px;
    color: #555;
    text-align: center;
    height: 50px;
    vertical-align: middle;
    border: 1px solid #ddd;
}

/* 탭박스 - 관람후기 */
.rn-tab-area-tit {
    margin: 60px 0 20px 0;
    height: 50px;
    text-align: left;
}

.rn-tab-area-tit span{
    border-bottom: 4px solid #333;
    font-size: 30px;
}

.rn-0903 {
    padding: 14px 0 14px 48px;
    background: url(image/rn-ico-dot.png)no-repeat left 14px;
    position: relative;
}


.rn-0903 p {
    font-size: 14px;
    line-height: 20px;
    color: #666;
}

.rn-0903 a {
    display: block;
    position: absolute;
    right: 0;
    top: 17px;
}

.rn-0904 {
    border-top: 1px solid #000;
}

.rn-0904 li:last-child {
    border-bottom: 1px solid #000;
}
.rn-0904 li {
    max-height: 280px;
    padding-bottom: 19px;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
    position: relative;
}

.rn-0904-ttbox {
    width: 100%;
    height: 40px;
    position: relative;
    margin-bottom: 21px;
    font-size: 0;
}

.rn-0904-ttbox .rn-0904-tt2 {
    top: 19px;
    height: 20px;
    line-height: 20px;
    color: #333;
    font-size: 13px;
}

.rn-0904 li .rn-0904-ttbox span {
    display: inline-block;
    position: relative;
}

.rn-0904-ttbox .rn-0904-tt3 {
    top: 19px;
    height: 20px;
    line-height: 20px;
    color: #333;
    font-size: 13px;
    padding-left: 18px;
    margin-right: 5px;
    letter-spacing: 0.05em;
}

.rn-0904 li .rn-0904-ttbox .rn-0904-tt3:before {
    content: "";
    display: block;
    width: 1px;
    height: 12px;
    background: #dadada;
    position: absolute;
    top: 3px;
    left: 9px;
}

.rn-0904 li .rn-0904-ttbox .rn-0904-tt4 {
    top: 19px;
    height: 20px;
    line-height: 20px;
    color: #333;
    font-size: 12px;
    margin-right: 15px;
}

.rn-0904 li .rn-0904-ttbox .rn-0904-tt5 {
    top: 19px;
    height: 20px;
    line-height: 20px;
    color: #333;
    font-size: 13px;
    margin-right: 15px;
}

.rn-0904-ttbox .rn-0904-tt5 i.selected{
    color: tomato;
}

.rn-0904 li .rn-0904-txt-wrap .rn-0904-txt {
    font-size: 13px;
    line-height: 22px;
    color: #666;
}



/* 탭박스 예매 / 취소 */

.rn-1201.rn-infos-1 {
    margin-top: 85px;
}
.rn-1201 {
    overflow: hidden;
    position: relative;
}

.rn12-left-tit {
    position: absolute;
    width: 238px;
    padding-left: 1px;
    font-size: 30px;
    font-weight: bold;
    color: #333;
}

.rn12-right-box {
    margin-left: 240px;
    clear: right;
    font-size: 14px;
    line-height: 28px;
    color: #555;
    padding: 0 0 85px 3px;
    letter-spacing: -0.03em;
}

.rn12-right-underline {
    border-bottom: 1px solid #555;
}

.rn12-tbl {
    padding: 33px 0 15px 0;
    margin-left: -3px;
}

.rn12-tbl table {
    border-collapse: collapse;
    width: 100%;
}

.rn12-tbl table th {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background: #fbe5d5;
    text-align: center;
    font-size: 15px;
    color: #333;
    padding: 8px 0 3px 0;
}

.rn12-tbl table td {
    border-bottom: 1px solid #eee;
    text-align: center;
    font-size: 14px;
    color: #555;
    padding: 6px 0 5px 0;
    vertical-align: middle;
}

.rn12-line {
    height: 5px;
    border-bottom: 1px solid #333;
}
.rn-infos-2 .rn12-line {
    margin-bottom: 39px;
}

.rn12-right-bold {
    font-weight: bold;
    color: #333;
    display: block;
}

.rn-infos-5 .rn12-tbl table tr td:last-child {
    text-align: left;
}
.rn-infos-5 .rn12-tbl table td {
    vertical-align: top;
    padding: 10px 0;
}


/* 제휴할인카드 팝업 */

.pop-cards {
    padding: 24px;
    border: 1px solid #333;
    background: #fff;
    width: 400px;
    right: 238px;
}
.rn-pop {
    position: absolute;
    z-index: 3;
    display: none;
    top: 250px;
    right: 5px;
}

.rn-pop-tit2 {
    font-size: 18px;
    color: #333;
    font-weight: 600;
    padding-bottom: 17px;
    border-bottom: 2px solid #333;
}

.pop-cards ul {
    margin-bottom: 10px;
}

.pop-cards ul li {
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
    height: 43px;
}

.pop-cards ul li img {
    float: left;
    display: block;
    margin: 0 20px 0 11px;
    width: 69px;
    height: 43px;
}

.pop-cards ul li div {
    margin-left: 99px;
}


.pop-cards ul li div p:first-child {
    font-size: 15px;
    color: #333;
    height: 20px;
}
.pop-cards ul li div p:last-child {
    font-size: 13px;
    color: #ed4037;
}

.pop-cards ul li div p span {
    color: #999;
    padding-left: 26px;
    position: relative;
}


.pop-cards ul li div p span:before {
    content: "";
    display: block;
    width: 1px;
    height: 12px;
    background: #b4b4b4;
    position: absolute;
    top: 1px;
    left: 16px;
}


.rn-pop .rn-pop-close {
    display: block;
    position: absolute;
    top: 20px;
    right: 27px;
}







/*datepicker*/

.datepicker-here{
    padding: 0;
    font-family: 'Gothic A1', sans-serif;
}




/* 왼쪽 메뉴  */
.left-container {
    z-index:999;
    width: 250px;
    height: 100%;
    background: #f5f6f7;
    color: #3D4449;
    position: fixed;
    top:0; 
    left:0;

}

/* 검색창 */
.search-box {
    position: relative;
    height: 40px;
    box-sizing: border-box;
    border: solid 1px rgba(210, 215, 217, 0.75);
    background-color: white;
    padding: 0px 30px 0px 10px;
    margin: 50px 20px 10px 20px;
    border-radius: 3px;
}

.search-box>input {
    position: relative;
    width: 100%;
    height: 38px;
    border:none;
    color: #7F888f;

}

.search-box>input:focus {outline:none;}

.btn-search{
    background: transparent;
    border: none;
    top: 10px;
    left: 180px;
    position: absolute;
}

.btn-search > i {
    font-size: 18px;
    color: #adaea6;
}

.nav-list {
    list-style: none;
    margin: 0;
    padding: 20px 20px 20px 20px;
}

.nav-item {
    margin: 4px 0;
}

.nav-item2 {
    margin-left: 40px;
    font-weight: 700;
}

.nav-link {
    display: block;
    text-decoration: none;
    padding: 4px 10px;
    color: #3D4449;
    font-weight: 700;
}

.nav-text{
    display: block;
    text-decoration: none;
    padding: 4px 10px;
    color: #3D4449;
    font-weight: 700;
    font-size: 18px;
}

.nav-link:hover {
    color: #e8787a;

}

/* 메인화면 슬라이더 */

.swiper-box{
    width: 100%;
    /* border: 1px solid red; */
    position: relative;
    top : calc((100vh - 480px) / 2) 
}

.swiper-container {
    height: 400px;    
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    background: url("image/1.jpg") center 0px no-repeat;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide:nth-child(2){
    background: url("image/2.jpg") center 0px no-repeat;
}

.swiper-slide:nth-child(3){
    background: url("image/3.jpg") center 0px no-repeat;
}

.swiper-slide:nth-child(4){
    background: url("image/4.jpg") center 0px no-repeat;  
}

.swiper-slide:nth-child(5){
    background: url("image/5.jpg") center 0px no-repeat;
}

